<phpunit bootstrap="./Bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="PHPParser Test Suite">
            <directory>./PHPParserTest</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">./lib/PHPParser/</directory>
        </whitelist>
    </filter>
</phpunit>
